@import "tailwindcss";

@import "@fontsource/cairo/400.css";
@import "@fontsource/cairo/500.css";
@import "@fontsource/cairo/600.css";
@import "@fontsource/cairo/700.css";

@theme static {
    --color-primary: #0B4A85;
    --color-secondary: #2DBE73;
    --color-heading-text: #17375E;
    --color-body-text: #5F7187;
    --color-muted: #8C99AA;
    --color-offWhite: #B3B3B3;
    --color-stale-red: #FFF4F4;
    --color-emergancy: #E53935;
    --color-emergancy-btn: #D92C2C;
    --color-base-border: #ccdef6;

    --breakpoint-xs: 30rem;
}

body {
    font-family: 'Cairo', system-ui, sans-serif;
}

.shadow {
    box-shadow: 0 8px 25px rgba(64, 62, 62, 0.25);
}

.trust-card::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--color-secondary);
    clip-path: polygon(130% 0, 0 140%, 100% 100%);
}

.navbar {
    @apply sticky top-0 z-50 backdrop-blur-sm;
}

.swiper {
    @apply mt-8 size-full;
}

.swiper-slide {
    @apply rounded-lg p-1 mb-8;
}